@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Audiowide&display=swap");

.container-intro {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.5s ease-in-out;
	background-color: black;
	z-index: 1;

	.intro-bg-vid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		overflow: hidden;
		filter: blur(8px);
	}

	.intro-bg-fallback {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: -2;
	}

	.intro-text-content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			font-family: "Audiowide", serif;
			font-weight: 400;
			font-style: normal;
		}

		h2 {
			margin-bottom: 2rem;
			font-family: "Agdasima", serif;
			font-weight: 400;
			font-style: normal;
			letter-spacing: 1px;
		}

		button {
			position: relative;
			cursor: pointer;
			background: -webkit-gradient(
				linear,
				left top,
				right top,
				color-stop(-12.74%, rgba(110, 239, 255, 0.5)),
				color-stop(56.76%, rgba(106, 224, 255, 0.271))
			);
			background: linear-gradient(
				90deg,
				rgba(110, 239, 255, 0.5) -12.74%,
				rgba(106, 224, 255, 0.271) 56.76%
			);
			border: 2px solid #acf7ff;
			color: #ffffff;
			font-weight: 600;
			transition: background-color 0.3s, transform 0.2s;

			&:before {
				content: "";
				width: 4px;
				height: 28px;
				background: #19173b;
				border: 2px solid #acf7ff;
				transform: rotate(-45deg);
				position: absolute;
				border-top: 0;
				border-left: 0;
				bottom: -7px;
				left: 4px;
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
			}

			&:after {
				content: "";
				position: absolute;
				left: -2px;
				bottom: -2px;
				border-top: 15px solid transparent;
				border-left: 15px solid #fffcf7;
			}

			&:hover {
				transform: scale(1.05);
				background: linear-gradient(
					90deg,
					rgba(33, 229, 255, 0.5) -12.74%,
					rgba(66, 215, 252, 0.385) 56.76%
				);
			}

			&:active {
				transform: scale(1);
			}
		}
	}
}

/* Large screens (Computers) */
@media (min-width: 1024px) {
	.intro-text-content {
		h1 {
			font-size: 6rem;
		}

		h2 {
			font-size: 2rem;
		}

		button {
			font-size: 1.4rem;
			width: 250px;
			height: 60px;
		}
	}
}

/* Medium screens (Tablets) */
@media (max-width: 1024px) {
	.intro-text-content {
		h1 {
			font-size: 5rem;
		}

		h2 {
			font-size: 1.8rem;
		}

		button {
			font-size: 1.2rem;
			width: 220px;
			height: 55px;
		}
	}
}

/* Small screens (Phones) */
@media (max-width: 576px) {
	.intro-text-content {
		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 1.4rem;
		}

		button {
			font-size: 1.1rem;
			width: 180px;
			height: 50px;
		}
	}
}

.flag-selector.ReactFlagsSelect-module_flagsSelect__2pfa2 {
	position: absolute;
	right: 5%;
	top: 5%;
	background: white;
	padding: 0;
} 

.ReactFlagsSelect-module_selectOptions__3LNBJ {
	color: black;
}