.container-techstack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .category {
    margin-bottom: 20px;
  
    h2 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 10px;
    }
  
    .tech-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  